.dashboard-container{
    height: 90vh;
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.sidebar{
    width: 20vw;
    height: 100%;
    background-color: white;
}

.datapart{
    width: 80vw;
    height: 100%;
}


@media all and (max-width:1000px){
    .sidebar{
        width: 25vw;
    }
    .datapart{
        width: 75vw;
    }
}

@media all and (max-width:800px){
    .sidebar{
        display: none;
        width: 40vw;
    }
    .datapart{
        width: 100vw;
    }
}