.datapart-container{
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.schedule{
    font-size: 1.2rem;
    color: #151D3B;
    margin-top: -17px;
    padding-bottom: 5px;
    padding-left: 3px;
}

.datapart-hero{
    height: 98%;
    width: 100%;
    background-color: white;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.input-section{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.datapart-filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 12%;
    gap: 30px;
}
.filterbyproj{
    margin-top: -14px;
}


.filter-buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.filter-btn{
    border: none;
    color: white;
    outline: none;
    padding: 6px 12px;
    background-color: #0098D6;
    border-radius: 2px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}
.reset{
    color: black;
    background-color: #F2F2F2;
    border: 1px solid #d4d2d2;
}

.section-status{
    height: 9%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.status{
    display: flex;
    flex-direction: row;
    width: 33%;
    background-color: #F2F2F2;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    justify-content: space-between;
    cursor: pointer;
}


.status div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.section-datas{
    height: 79%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 8px;
    overflow-y: scroll;
}

.section-datas::-webkit-scrollbar {
    width: 10px;
  }
  
.section-datas::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }